<html lang="en">
  <head>
    {% include "head.html" %}
    
    <link rel="stylesheet" type="text/css" href="/static/css/homeBody.css" />
    <title>Submit Rental | Campus Rentals</title>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=256010727834898";
  fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Top Banner -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">UMD Campus Rentals</a>
          <div class="btn-group pull-right">
	    <div class="fb-like" data-href="http://www.hackbyrd.com" data-send="true" data-width="450" data-show-faces="true" data-colorscheme="dark"></div>
          </div>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/submit">Submit</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- End Top Banner -->

    <center><h1>Submit A Rental Form</h1></center>
    <div class="submitBox">
    <form action="/submit" method="post">{% csrf_token %}
      {{ form.non_field_errors }}
      
      Campus Rentals currently supports short-term housing rentals in Commons, Courtyards, The Varsity, and The View
      <hr/>
      <div class = "submitBoxLayer">
        <div class = "submitBoxInner" style="text-align: right;">  
	Building: <select style="width: 150px; margin: 5px 0px 5px 0px;" name="building" id="id_building">
	    <option value="1" selected="selected">Commons</option>
	    <option value="2">Courtyards</option>
	    <option value="3">Varsity</option>
	    <option value="4">View</option>
	  </select>
        </div>
	<div class = "submitBoxInner" style="text-align: right;">
	 Room #: <input style="width: 150px; height: 25px; margin: 5px 0px;" id="id_room" type="text" name="room" maxlength="50" />
	  </div>
	</div>

      <div class="submitBoxLayer">
	 <div class="submitBoxInner" style="text-align: right">Start Lease: <input style="width: 150px; height: 25px; margin: 5px 0px;" type="date" name="start_lease" id="id_start_lease" /></div>
	 <div class="submitBoxInner" style="text-align: right">End Lease: <input style="width: 150px; height: 25px; margin: 5px 0px;" type="date" name="end_lease" id="id_end_lease" /></div>
	 
      </div>

      <div class="submitBoxLayer">
         <div class="submitBoxInner" style="text-align: right;">Price/Mo: $ <input style="width: 150px; height: 25px; margin: 5px 0px;" type="text" name="price" id="id_price" /></div>
         <div class="submitBoxInner" style="text-align: right;">Price Negotiable? <input style="width: 70px; height: 25px; margin: 5px 0px;" checked="checked" type="checkbox" name="negotiable" id="id_negotiable" /></div>
      </div>
      Your Email: <input style="width: 380px; height: 25px; margin: 5px 0px;" id="id_posters_email" type="text" name="posters_email" maxlength="254" />
       </br>
          Description: </br>
          <textarea style="width: 450px; height: 100px;"id="id_description" rows="10" cols="40" name="description"></textarea>
      
	  </br>
	  <input type="reset" value="Reset" />
      <input type="submit" value="Submit" />
    </form>
    </div>
  </body>
  
  <script type="text/javascript">
    function InputActions(field, id) {
      var i = 1;
      
    }
  </script>

</html>
